*.gem
*.rbc
/.config
/.mvn/
/InstalledFiles
/pkg/
/tmp/

# Used by dotenv library to load environment variables.
# .env

## Environment normalization:
/.bundle/
/vendor/

# Mac
.DS_Store

# Warbler
Jars.lock

# Glimmer
/dist/
/packages/
/vendor/jars/
